<div class="hero-unit">
	<h1>Sp<img src="http://live.drjays.com/wp-content/uploads/2011/07/spotify-logo.png" width="42" height="42" />tify Water Cooler</h1>
	<p>Killing productivity...one <strong>beat</strong> at a time!</p>
	<p></p>
</div>


<!-- Example row of columns -->
<div class="row">
	<div class="span8">
		<h2>Search For Track</h2>
		<p>
		  <form id="search-form">
        <fieldset style="padding-top:0px;">
          <div>
            <div class="input" style="margin-left:0px;">
              <input class="xlarge" id="search" size="30" type="text" placeholder="Track Name"/>
              <input type="submit" class="btn primary" value="Search">
            </div>
          </div>
        </fieldset>
      </form>
      <ul id="search-results" class="unstyled"></ul>
		</p>
 	</div>
 	
 	<div class="span8">
   	<h2>Current Playlist</h2>
		<p>
		  <ul id="playlist-tracks" class="unstyled">
		    <% @playlist_tracks.each do |t| %>
		      <li class='spotify-track' id="pltrack-<%= t[:playlist_index] %>"><span><strong><%= t[:artist] %>:</strong> <i><%= t[:name] %></i> </span></li>
		    <% end %>
		  </ul>
		</p>
	</div>
</div>

<div class="row">
 	<div class="span16">
   	<h2>Water Cooler</h2>
   	
   	<h4>Talk</h4>
   	<a href="#" id="call"><img src="/images/call_button.jpg" alt="Call" height="35px" width="35px"></a>
    <a href="#" id="hangup"><img src="/images/hang_up_button.jpeg" alt="Call" height="35px" width="35px"></a>
   	
   	<h4>Chat</h4>
   	<div id="chat-login">
      <form id="login-form">
        <fieldset>
          <div>
            <div class="input" style="margin-left:0px;">
              <input class="xlarge" id="login-nick" size="30" type="text" placeholder="Nickname"/>
              <input type="submit" class="btn primary" value="Join">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    
   	<div id="chat-container" style="display:none;">
      <ul>
      </ul>
      <div id="chat">
        <form id="chat-form">
          <input class="xxlarge" id="message" name="message" type="text" placeholder="Enter your message" autocomplete="off" />
          <input id="send-message" type="submit" class="btn primary" value="Send" />
        </form>
      </div>
    </div>
   	
	</div>
</div>