<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify Water Cooler</title>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
  	<script src="/js/jquery-spotifydata.js"></script>
    <script src="/js/faye-browser-min.js"></script>
    <script type="text/javascript">
        Twilio.Device.setup('<%= @token %>');
  	    var client = new Faye.Client("http://<%= @host_with_port %>/faye", {
  	        timeout: 120
  	    });
  	</script>
    <script src="/js/application.js"></script>
    
  </head>
  <body>
		<div class="container">
			<%= yield %>
			<footer>
			 <p>&copy; Haris Amin 2012</p>
			</footer>
		</div>
  </body>
</html>